.loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000000;
    cursor: default;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    background-color: #d0cfcf;
    opacity: 0.5;
}